/**
 * #379392
 * #4FB0C6
 * #4F86C6
 * #6C49B8
 */
*
{
    box-sizing: border-box;
}
html,
body
{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;

    margin: 0;
    padding: 0;

    letter-spacing: .1px;

    color: #fff;
    background: #379392;
}
header
{
    z-index: 1;

    width: 100%;
    max-width: 600px;
    padding: 10px 20px;

    background: #4f86c6;
}
header h1
{
    font-weight: 100;

    position: relative;

    margin: 0;
}
header img
{
    max-width: 130px;
    margin-right: 10px;
}

.help
{
    font-size: 20px;

    position: absolute;
    top: 50%;
    right: 20px;

    display: flex;

    width: 30px;
    height: 30px;

    transform: translateY(-50%);
    text-decoration: none;

    color: #4f86c6;
    border-radius: 50%;
    background: #fff;

    justify-content: center;
    align-items: center;
}

#app
{
    position: relative;

    max-width: 600px;
    margin: 0 auto;
}

.post-box
{
    position: relative;

    margin-bottom: 10px;
    padding: 4px 20px 10px;

    background: #4fb0c6;
}
.post-box:after
{
    font-size: 22px;

    position: absolute;
    bottom: -11px;
    left: 50%;

    content: '...';
    transform: translateX(-50%);

    color: #4fb0c6;
}
.post
{
    font-size: 18px;
    line-height: 1.5;
}

.meta
{
    display: flex;

    justify-content: space-between;
}
.oj
{
    font-weight: 200;

    position: relative;

    margin: 4px 0 4px 20px;
    padding: 0 4px;

    cursor: pointer;

    border: 1px solid;
    border-radius: 14px;
}
.oj:before
{
    position: absolute;
    top: -2px;
    left: -22px;

    content: '🦊';
}
.oj:hover
{
    background: #4f86c6;
}
.time
{
    font-size: 12px;

    padding: 5px 20px 0;

    opacity: .6;
}
.time:before
{
    content: '🕑';
}
.oj-link
{
    cursor: pointer;

    color: #4f86c6;
}
.oj-link:hover
{
    color: #379392;
}

.filter-box
{
    position: relative;

    display: inline-block;

    margin: 10px 0;

    cursor: pointer;

    border-radius: 14px;
    background: #4f86c6;
}
.filter
{
    display: inline-block;

    padding: 6px;

    border-radius: 14px;
    background: #4f86c6;
    -webkit-box-shadow: 0 0 0 2px #379392;
       -moz-box-shadow: 0 0 0 2px #379392;
            box-shadow: 0 0 0 2px #379392;
}
.filter-box:after
{
    padding: 6px;

    content: 'x';
}
#reference-post.post-box
{
    position: fixed;
    bottom: 0;

    width: 100%;
    max-width: 600px;
    margin: 0;

    background: #4f86c6;
}
#reference-post .oj-link
{
    color: #fff;
}

.back-box
{
    display: inline-block;

    margin: 10px 0;
    padding: 6px;

    border-radius: 14px;
    background: #4f86c6;
}
.back
{
    font-weight: 200;

    margin: 4px 0;
    padding: 0 4px;

    cursor: pointer;

    border: 1px solid;
    border-radius: 14px;
}

.loader
{
    font-size: 20px;

    padding: 10px 20px 30px;

    text-align: center;
}


@media (min-height: 570px)
{
    #app
    {
        padding-top: 113px;
    }
    header
    {
        position: fixed;
        top: 50px;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-box-shadow: 0 -60px 0 0 rgba(55,147,146,1);
           -moz-box-shadow: 0 -60px 0 0 rgba(55,147,146,1);
                box-shadow: 0 -60px 0 0 rgba(55,147,146,1);
    }
}
